<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>MyProjects.js</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">mp.js</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">

        <div class="col s12 m8">
          <h3>Local repositories</h3>
            <ul id="repo-list" class="collapsible" data-collapsible="expandable">
            {{#localRepositories}}
              <li>
              <div class="collapsible-header lighten-4"><i class="material-icons">filter_drama</i><span data-href="/project/{{index}}">{{dir}}</span></div>
              <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
              </li>
            {{/localRepositories}}
            </ul>
        </div>

        <div class="col s12 m4">

          <h3>Remote repositories</h3>
          {{#remoteRepositories}}
            <h4>{{account.username}}@{{account.type}}</h4>
            <ul class="collapsible" data-collapsible="expandable">
            {{#repositories}}
              <li>
              <div class="collapsible-header lighten-4"><i class="material-icons">filter_drama</i><span>{{name}}</span></div>
              <div class="collapsible-body">
              <ul>
              {{#commits}}
                <li>{{message}}</li>
              {{/commits}}
              </ul>
              </div>
              </li>
            {{/repositories}}
            </ul>

          {{/remoteRepositories}}
        </div>

      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">©2017 bhubr.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  <script>
  function populatePanelBody(listItem) {
    (function(_listItem) {
      _listItem.find('.collapsible-header').addClass('red');
      const href = _listItem.find('span').data('href');
      $.get(href, data => {
        let isBen = false;
        data.authors.forEach(author => {
          if(author.includes('benoithubert') || author.includes('littlebuddha')) {
            isBen = true;
          }
        });
        _listItem.find('.collapsible-header').addClass('active').removeClass('red');
        if(isBen) {
          _listItem.find('.collapsible-header').addClass('green');
          _listItem.find('.collapsible-body').html('<ul><li>' + data.authors.join('</li><li>') + '</li></ul>');
          _listItem.find('.collapsible-body').append('<ul><li>' + data.commitMessages.join('</li><li>') + '</li></ul>');
        }
        else if( ! _listItem.find('.collapsible-header').hasClass('red') ) {
          _listItem.hide();
        }
      }, 'json');

    })(listItem);
  }

  $(document).ready(() => {
    const repoListItems = $('#repo-list li');
    repoListItems.each(index => {
      const listItem = $( repoListItems[index] );
      (populatePanelBody(listItem));
    });
  });
  </script>

  </body>
</html>


<!DOCTYPE html>
<html>
<head>
  <title>MyProjects.js</title>
</head>
<body>

</body>
</html>
